{
    "extends": "airbnb",
     "env": {
        "browser": true
    },
    "rules": {
        "linebreak-style": "off",
        "react/jsx-filename-extension": "off",
        "react/forbid-prop-types": "off",
        "react/no-multi-comp": "off",
        "react/prefer-stateless-function": "off"
    }
}